# Kustomize overlays for different environments
kubernetes/overlays

# Terraform state and variables
*.tfvars.json
.terraform.lock.hcl
.terraform
*.tfstate
*.tfstate.backup
*.tfvars

# Ansible
*.retry

# Python
__pycache__/
*.pyc

# Other
.DS_Store

